body{
    background: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
}
.header1{
    display: inline-block;
    height: 70px;
    width: 40%;
    background: rgb(98, 233, 20);
    margin: 10px 0.75% 24px 1.5%;
}
.header2{
    display: inline-block;
    height: 70px;
    width: 55%;
    background: rgb(192, 112, 8);
    margin: 10px 1.5% 24px 0.75%;  
}
.content{
    display: inline-block;
    height: 350px;
    width: 97%;
    background: rgb(54, 1, 114);
    margin: 0px 1.5% 24px 1.5%;
}
.aftercontent1{
    float: left;
    height: 150px;
    width: 30.33%;
    background: rgb(226, 230, 13);
    margin: 0px 1.5% 24px 1.5%;
}
.aftercontent2{
    float: left;
    height: 150px;
    width: 30.33%;
    background: rgb(98, 233, 20);
    margin: 0px 1.5% 24px 1.5%;
}
.aftercontent3{
    float: left;
    height: 150px;
    width: 30.33%;
    background: rgb(9, 217, 245);
    margin: 0px 1.5% 24px 1.5%;
}
